[Desktop Entry]
Type=Application
Name=Camera
Name[ar]=كاميرا
Name[bg]=Камера
Name[cs]=Kamera
Name[de]=Kamera
Name[es]=Cámara
Name[fr]=Caméra
Name[kmr]=Wênekêş
Name[sv]=Kamera
Name[uk]=Камера
Name[zh_CN]=相机
GenericName=Camera
GenericName[ar]=كاميرا
GenericName[bg]=Камера
GenericName[cs]=Kamera
GenericName[de]=Kamera
GenericName[es]=Cámara
GenericName[fr]=Caméra
GenericName[kmr]=Wênekêş
GenericName[sv]=Kamera
GenericName[uk]=Камера
GenericName[zh_CN]=相机
Comment=Take photos, record video, and scan QR codes
Comment[de]=Fotos aufnehmen, Videos aufzeichnen und QR-Codes scannen
Comment[sv]=Ta foton, spela in video och skanna QR-koder
Icon=io.github.cosmic_utils.camera
Exec=camera
Terminal=false
Categories=AudioVideo;Video;Recorder;Photography;
Keywords=camera;webcam;photo;video;
Keywords[cs]=kamera;fotoaparát;webkamera;fotografie;video;
Keywords[de]=camera;webcam;photo;video;kamera;foto;
Keywords[sv]=kamera;webkamera;foto;video;
Keywords[uk]=камера;kamera;camera;вебкамера;знімок;фото;видиво;відео;запис;космік;photo;video;
Keywords[zh_CN]=相机;摄像头;照片;视频;
MimeType=
StartupNotify=true
X-GNOME-UsesNotifications=true
