[Desktop Entry]
Type=Application
Name=Camera
GenericName=Camera
Comment=Third-party camera app for the COSMIC™ desktop
Icon=io.github.cosmic_utils.camera
Exec=camera
Terminal=false
Categories=AudioVideo;Video;Recorder;Photography;
Keywords=camera;webcam;photo;video;
MimeType=
StartupNotify=true
X-GNOME-UsesNotifications=true
